// font families
$ff-sans: sans-serif;

// font weights
$fw-regular: 400;
$fw-bold: 700;

// font sizes
$font-sizes: (
    'small': 1rem,
    'medium': 1.6rem,
    'large': 2rem,
    'xl': 3.2rem,
);
